html {
    background-image: linear-gradient(-170deg,
     #064997 20%, #105ba7);
    background-position: right;

}

body {
    min-height: 100vh;
    position: relative;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--colour-white);
    background-image: linear-gradient(to left, #2b67ac 3px, transparent 3px),
                      linear-gradient(#2b67ac 3px, transparent 3px),
                      linear-gradient(to left, rgba(#2b67ac, 0.4) 1px, transparent 1px),
                      linear-gradient(#2b67ac 1px, transparent 1px),
                      linear-gradient(to left, rgba(#2b67ac, 0.4) 1px, transparent 1px),
                      linear-gradient(#2b67ac 1px, transparent 1px);
    background-size: 112px 112px, // 4 * 28 - tried aligning these the grid with getSize but safari was being weird
                     112px 112px,
                     56px 56px, // 2 * 28
                     56px 56px,
                     28px 28px,
                     28px 28px;
    // background-position: right, top, calc(100% - 3px), top, calc(100% - 3px), top;
}
