$breakpoint: 40em;

@function getSize($size) {
    @return calc(var(--base-grid) * #{$size});
}

:root {
  --base-grid: 2vmin;
  --breakpoint: 480px;
  --colour-white: #FFF;
  --colour-black: #{lighten(#000, 5%)};
  --colour-blue: #064997;
  --link-size: #{getSize(20)};

  @media (min-width: $breakpoint) {
    --base-grid: 1vmin;
  }
}

@import "_reset";
@import "_box-sizing";
@import "_layout";
@import "_title";
@import "_links";
@import "_articles";
