.cta {
  --light: #be7929;
  --dark: #ffa001;

  position: relative;
  display: block;
  z-index: 1;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: getSize(1);
  padding-top: getSize(1);
  overflow: hidden;
  white-space: nowrap;

  &__content {
    background-color: #fff;
    display: inline-flex;
    align-items: center;
    height: getSize(7);
    padding: 0 getSize(3);
    border-radius: var(--border-radius);
    font-size: getSize(2);
    font-weight: 700;
    transform: translateY(#{getSize(-1)});
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: getSize(1);
    left: 0;
    bottom: 0;
    width: calc(100% - #{getSize(1)});
    border-radius: var(--border-radius);
  }

  &::before {
    background-color: var(--light);
    z-index: -2;
  }

  &::after {
    background-image: linear-gradient(-45deg, transparent 50%, var(--dark) 50%);
    z-index: -1;
    transition: width 450ms ease-in-out;
  }

  &__icon {
    margin-left: getSize(.5);
    width: getSize(3);
    height: getSize(3);
    transition: transform 400ms ease-out;
  }

  &--blue {
    --light: #2f8ab7;
    --dark: #23688a;
  }

  @media(hover) {
    &:hover {
      &::after {
        width: 150%;
      }

      .cta__icon {
        transform: translateX(#{getSize(.5)});
      }
    }
  }
}
