meta(charset="utf-8")
title Daniel Benmore
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="description" content="Daniel Benmore - UX Engineer - London UK")
meta(name="theme-color" content="#000000")
link(rel="shortcut icon" href="favicon.ico")
link(href="scss/styles.scss" rel="stylesheet")
link(href="https://fonts.googleapis.com/css?family=Josefin+Sans:400" rel="stylesheet")
