---
layout: base.njk
stylesheet: portfolio
backlink:
  url: /
  text: Home
title: Portfolio
description: "Hi there. I'm a developer / designer / a mix of the two. I live at the crossroads between design and development; empathising with users, designing solutions, validating concepts and crafting code to bring it all to life"
---


<h1 class="title">Port-<br>folio.</h1>

<ul class="portfolio-list">
  <li>
    <article class="portfolio-list__article">
      <img class="portfolio-list__image" src="./british-gas/featured-image-small.png">

      <div class="portfolio-list__description">
        <h2 class="portfolio-list__heading">Nucleus - a design system for British Gas</h2>

        <p>Bringing my design system expereince to help an established design system</p>

        <a href="/portfolio/british-gas/index.html" class="cta portfolio-list__link">
          <span class="cta__content">
            View project
            <svg viewBox="0 0 24 24" class="cta__icon">
              <path d="M12 3.984l8.016 8.016-8.016 8.016-1.406-1.406 5.578-5.625h-12.188v-1.969h12.188l-5.578-5.625z"></path>
            </svg>
          </span>
        </a>
      </div>
    </article>
  </li>
  <li>
    <article class="portfolio-list__article">
      <img class="portfolio-list__image" src="./giffgaff-design-system/featured-image-small.png">

      <div class="portfolio-list__description">
        <h2 class="portfolio-list__heading">giffgaff's Design System</h2>

        <p>Transforming the way giffgaff approaches design through the creation of giffgaff's design system</p>

        <a href="/portfolio/giffgaff-design-system/index.html" class="cta portfolio-list__link">
          <span class="cta__content">
            View project
            <svg viewBox="0 0 24 24" class="cta__icon">
              <path d="M12 3.984l8.016 8.016-8.016 8.016-1.406-1.406 5.578-5.625h-12.188v-1.969h12.188l-5.578-5.625z"></path>
            </svg>
          </span>
        </a>
      </div>
    </article>
  </li>
  <!-- <li>
    <article class="portfolio-list__article">
      <img class="portfolio-list__image" src="./giffgaff-halloween/featured-image-small.png">

      <div class="portfolio-list__description">
        <h2 class="portfolio-list__heading">giffgaff does Halloween</h2>

        <p>It's no secret that giffgaff loves Halloween. Usually the campaign is limited to social media and TV but this year it was time to get the website involved</p>

        <a href="#" class="cta portfolio-list__link">
          <span class="cta__content">
            View project
            <svg viewBox="0 0 24 24" class="cta__icon">
              <path d="M12 3.984l8.016 8.016-8.016 8.016-1.406-1.406 5.578-5.625h-12.188v-1.969h12.188l-5.578-5.625z"></path>
            </svg>
          </span>
        </a>
      </div>
    </article>
  </li> -->
  <li>
    <article class="portfolio-list__article">
      <img class="portfolio-list__image" src="./maersk/featured-image-small.png">

      <div class="portfolio-list__description">
        <h2 class="portfolio-list__heading">Maersk line</h2>

        <p>4 brands. 1 style guide. Modernising outdated websites but still supporting customers unable to use the latest devices or with poor network conectivity</p>

        <a href=".//maersk/index.html" class="cta portfolio-list__link">
          <span class="cta__content">
            View project
            <svg viewBox="0 0 24 24" class="cta__icon">
              <path d="M12 3.984l8.016 8.016-8.016 8.016-1.406-1.406 5.578-5.625h-12.188v-1.969h12.188l-5.578-5.625z"></path>
            </svg>
          </span>
        </a>
      </div>
    </article>
  </li>
  <!-- <li>
    <article class="portfolio-list__article">
      <img class="portfolio-list__image" src="">

      <div class="portfolio-list__description">
        <h2 class="portfolio-list__heading">BT Fresca and Expedite</h2>

        <p>X brands, x languagues, 1 style guide</p>

        <a href="#" class="cta portfolio-list__link">
          <span class="cta__content">
            View project
            <svg viewBox="0 0 24 24" class="cta__icon">
              <path d="M12 3.984l8.016 8.016-8.016 8.016-1.406-1.406 5.578-5.625h-12.188v-1.969h12.188l-5.578-5.625z"></path>
            </svg>
          </span>
        </a>
      </div>
    </article>
  </li> -->
</ul>

<!-- <h2>Companies I've worked with</h2>

<ul>
  <li>
    <img src="" alt="giffgaff">
  </li>
  <li>
    <img src="./logos/bt.svg" alt="BT">
  </li>
  <li>
    <img src="" alt="WHSmith">
  </li>
  <li>
    <img src="" alt="Liberty London">
  </li>
  <li>
    <img src="" alt="claire's">
  </li>
  <li>
    <img src="" alt="cath kidston">
  </li>
</ul> -->
