<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}{{ " | " if title }}Daniel Benmore - UX Engineer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@300;400;700;800&display=swap" rel="stylesheet">
    <meta name="description" content="{{ description }}">
    <meta name="theme-color" content="#333333">
    <link rel="shortcut icon" href="/favicon.ico">

    {# capture the CSS content as a Nunjucks variable #}
    {% set styles = "../../build/" + stylesheet + ".css" %}
    {% set css %}
      {% include styles %}
    {% endset %}
    {# feed it through our cssmin filter to minify #}
    <style>
      {{ css | cssmin | safe }}
    </style>

  </head>
  <body>
    {% if backlink %}
      <a href="{{ backlink.url }}" class="back-link">
        <svg class="back-link__icon" viewBox="0 0 24 24">
          <path d="M20.016 11.016v1.969h-12.188l5.578 5.625-1.406 1.406-8.016-8.016 8.016-8.016 1.406 1.406-5.578 5.625h12.188z"></path>
        </svg>
        {{ backlink.text }}
      </a>
    {% endif %}

    <main>
      {{ content | safe}}
    </main>
    <footer>
      <p class="who-am-i">Daniel Benmore · UX Engineer · London UK</h1>
    </footer>

    <script>
      console.log(`\nOh. hello there\n\nYou may find it easier to checkout the source code on github https:\/\/github.com\/dbenmore\/portfolio`);

      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-97886828-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
