---
layout: base.njk
stylesheet: portfolio-article
backlink:
  url: /portfolio
  text: Portfolio
title: Nucleus - a design system for British Gas
description: This is my current project. Not much to say yet but so far I've been involved in...
---

<article>
  <h1 class="title">Nucleus - a design system for British Gas</h1>

  <section class="intro">
    <div>
      <div class="scoped-typography">
        <p>This is my current project. Not much to say yet but so far I've been involved in:</p>

        <ul>
          <li>Improving ways of working and helping establish processes both inside and outside of the design system team</li>
          <li>Taking the lead on presenting recent progress to the company</li>
          <li>Set up a system to automatically audit design system usage across the website</li>
          <li>Supporting product teams in how to use the design system, gathering feedback and refining requirements</li>
          <li>Helping create a new rapid prototyping environment and speeding up delivery by designing in the browser</li>
          <li>Building and designing new webcomponents using polymerjs</li>
          <li>Being an accessibility advocate</li>
          <li>Encouraging community involvement in the design system and contributions from outside of the core design system team</li>
          <li>Exploring ways to expand the design system beyond the web and venture into the app and emails</li>
        </ul>
      </div>
    </div>
    <div>
      <img src="./screenshot.png" alt="Screenshots of britishgas.design" width="100%">
    </div>
  </section>

  <div class="article-actions">

    <a href="https://www.britishgas.design/" class="cta cta--blue">
      <span class="cta__content">
        View live website
        <svg viewBox="0 0 24 24" class="cta__icon">
          <path d="M12 3.984l8.016 8.016-8.016 8.016-1.406-1.406 5.578-5.625h-12.188v-1.969h12.188l-5.578-5.625z"></path>
        </svg>
      </span>
    </a>
  </div>
</article>
