<svg class="#{className}" viewBox="0 0 160 160" xmlns="http://www.w3.org/2000/svg"><g fill="#000" fill-rule="evenodd"><path d="M80 64l63.64 40L80 144l-63.64-40L80 64zm0 8l50.912 32L80 136l-50.912-32L80 72z"/><path d="M80 16l63.64 40L80 96 16.36 56 80 16zm0 8l50.912 32L80 88 29.088 56 80 24z"/><path d="M16 56h8v48h-8zM76 22h8v48h-8zM136 56h8v48h-8zM76 91h8v48h-8z"/></g></svg>
