<svg class="#{className}" viewBox="0 0 160 160" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd" stroke="#000" stroke-width="8"><path d="M140 60v80h-24V80H84v60H60V56h24v4h56zM20 56h24v84H20zM20 20h24v17H20z"/></g></svg>
