<svg class="#{className}" viewBox="0 0 160 160" xmlns="http://www.w3.org/2000/svg"><path d="M144 32H16v6.7l64 59.8 55.873-52.2V120H24.127V56H16v72h128V32zM80 87.5L29.206 40h101.588L80 87.5z" fill="#000" fill-rule="nonzero"/></svg>
