mixin svg(file, className)
  case file
    when "articles"
      include assets/articles.pug
    when "codepen"
      include assets/codepen.pug
    when "github"
      include assets/github.pug
    when "linkedin"
      include assets/linkedin.pug
    when "mail"
      include assets/mail.pug


html(lang="en")
  head
    include includes/head.pug
  body
    main
      h1.who-am-i !{whoAmI}

      section.links
      
        ul.links__list(style="--item-total:" + links.length)
          
          - var i = 1;
          each link in links
            li.links__item(style="--item-count:" + i)
              a.links__link(href=link.url target=link.external ? "_blank" : "" rel="noopener noreferrer")
                +svg(link.icon, "links__icon links__icon--" + link.icon)
                span.links__text=link.text
                - i++;

    script
      include ./includes/scripts.js
