---
layout: base.njk
stylesheet: home
description: Hi there. I'm a developer / designer / a mix of the two. I live at the crossroads between design and development; empathising with users, designing solutions, validating concepts and crafting code to bring it all to life
---
<div>
  <h1 class="title title--bigger">He-<br>llo.</h1>

  <div class="intro">
    <p>Hi there. I'm a developer / designer / a mix of&nbsp;the&nbsp;two</p>
    <p>I live at the crossroads between design and development; empathising with users, designing solutions, validating concepts and crafting codeto bring it all to life</p>
  </div>
</div>

<ul class="links__list" style="--item-total:5">
  <li class="links__item" style="--item-count:1">
    <a class="links__link" href="/articles" rel="noopener noreferrer">
      <span class="links__text">Writ-<br>ing.</span>
    </a>
  </li>
  <li class="links__item" style="--item-count:2">
    <a class="links__link" href="https://codepen.io/dbenmore" rel="noopener noreferrer">
      <span class="links__text">Code-<br>Pen.</span>
    </a>
  </li>
  <li class="links__item" style="--item-count:3">
    <a class="links__link" href="/portfolio" rel="noopener noreferrer">
      <span class="links__text">Port-<br>folio.</span>
    </a>
  </li>
  <li class="links__item" style="--item-count:4">
    <a class="links__link" href="https://uk.linkedin.com/in/dbenmore" rel="noopener noreferrer">
      <span class="links__text">Linked-<br>In.</span>
    </a>
  </li>
  <li class="links__item" style="--item-count:5">
    <a class="links__link" href="mailto:hello@danielbenmore.co.uk?subject=Hello" rel="noopener noreferrer">
      <span class="links__text">Say<br>Hello.</span>
    </a>
  </li>
</ul>
