$breakpoint: 40em;

@function getSize($size) {
    @return calc(var(--base-grid) * #{$size});
}

:root {
  --base-grid: 2vmin;
  --breakpoint: 480px;
  --colour-white: #FFF;
  --colour-black: #{lighten(#000, 10%)};
  --colour-blue: #064997;

  @media (min-width: $breakpoint) {
    --base-grid: 8px;
  }
}

@import "_reset";
@import "_box-sizing";
@import "_layout";
@import "_who-am-i";
@import "_links";
@import "_articles";
